* {
    -fx-deep-deep-indigo: #2D2449;
    -fx-deep-indigo: #2D2449;
    -fx-dark-indigo: #332E59;
    -fx-medium-indigo: #3B3464;
    -fx-electric-lilac: #F1EDFF;
    -fx-blue: #498CDC;
    -fx-red: #DC5364;
}

.backgroundPane{
    -fx-background-color: -fx-deep-indigo;
}

.button{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-electric-lilac;
}

.searchMenuButtons{
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

#carouselLeft #carouselLeftView{
    -fx-image: url(/icons/mediumIndigo/arrow-left.png);
}

#carouselRight #carouselRightView{
    -fx-image: url(/icons/mediumIndigo/arrow-right.png);
}

#homeButton #homeIconView{
    -fx-image: url(/icons/mediumIndigo/house-bold.png);
}

#homeButton:focused #homeIconView{
    -fx-image: url(/icons/electricLilac/house-bold.png);
}

#searchButton #searchIconView{
    -fx-image: url(/icons/mediumIndigo/magnifying-glass-bold.png);
}

#searchButton:focused #searchIconView{
    -fx-image: url(/icons/electricLilac/magnifying-glass-bold.png);
}

#favouritesButton #favouritesIconView{
    -fx-image: url(/icons/mediumIndigo/star-bold.png);
}

#favouritesButton:focused #favouritesIconView{
    -fx-image: url(/icons/electricLilac/star-bold.png);
}

#accountButton #accountIconView{
    -fx-image: url(/icons/mediumIndigo/user-circle-bold.png);
}

#accountButton:focused #accountIconView{
    -fx-image: url(/icons/electricLilac/user-circle-bold.png);
}

#menuBarVBox {
    -fx-background-color: -fx-deep-indigo;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, #2A2244, 5, 2, 2, 2);
}

.label{
    -fx-text-fill: -fx-electric-lilac;
}

#hboxSearchBar {
    -fx-background-color: #332E59;
    -fx-background-radius: 20px;
}

#txtSearchBar {
    -fx-background-color: #332E59;
    -fx-background-radius: 20px;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: -fx-electric-lilac;
}

.movieBg{
    -fx-background-image: url(/images/moviesList.png);
    -fx-background-position: center;
    -fx-background-size: cover;
}

.loginInput{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-electric-lilac;
    -fx-font-size: 18;
}
.introInput{
    -fx-fill: -fx-medium-indigo;
}
.introImage{
    -fx-fill: -fx-dark-indigo;
}

.loginImage{
    -fx-image: url(/icons/Login.png);
}

.passwordImage{
    -fx-image: url(/icons/Password.png);
}

.loginButton{
    -fx-background-color: -fx-electric-lilac;
    -fx-text-fill: -fx-medium-indigo;
    -fx-font-size: 18;
}
.rounded{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.shadow{
    -fx-effect: dropshadow(gaussian, #231a38, 10, 0, 0, 5);
}

.movieDisplayHBox {
    -fx-background-color: -fx-medium-indigo;
}